{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link href="{% static 'home/images/favicon.png' %}" rel="icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'home/desktop.css' %}" type="text/css" rel="stylesheet"  />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="{% static 'home/style2.css' %}" type="text/css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static 'home/myScript.js' %}">
	</script>
<style>
	#user{
padding-top:17px;
padding:17px 0px 0px 20px;
font-weight:bold;
}
</style>
</head>

<body>
<div class="navbar" style="z-index:2;">
	<ul>
		<li><h1>nil.co</h1><p class="caption">The ultimate forum for coders</p></li>
		<li class="right circle-propic" style="cursor:pointer" onclick="drop()" id="circular-propic">

		</li>
		<li class="right" id="user">Welcome {{request.user.first_name}} {{request.user.last_name}}</li>
		<li class="right"><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for threads.."></li>

	</ul>
</div>
<div id="myDropdown" class="dropdown-content">
	<a href="#profile"><i class="fa fa-drivers-license-o"></i> view profile</a>
	<a href="#settings"><i class="material-icons">settings</i> Settings</a>
	<a href="logout/"><i class="material-icons">power_settings_new</i> Logout</a>
</div>
<div class="hamburger">
	<span style="font-size:30px;cursor:pointer" onclick="openNav()" id="hamburger">&#9776;</span>
</div>

<div id="mySidenav" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()" >&times;</a>
	<a href="#" class="current-sidemenu"style="color:white;"><img src="{% static 'home/images/home-ico.png' %}" width="20px"/> Home</a>
	<a href="javascript:void(0)" onclick="droprecent()"><img src="{% static 'home/images/recent-ico.png' %}" width="22px"/> Recently viewed <img src="{% static 'home/images/down-arrow.png' %}" width="10px"/></a>
	<div id="recent-threads" class="recent-threads1">
		<a href="threadC.html">C programming Doubts</a>
		<a href="#">PHP programming Doubts</a>
		<a href="#">Python programming Doubts</a>
	</div>
	<a href="javascript:void(0)" onclick="dropcategories()"><img src="{% static 'home/images/categories-ico.png' %}" width="20px"/> Categories  <img src="{% static 'home/images/down-arrow.png' %}" width="10px"/></a>
	<div id="categories" class="recent-threads1">
		<a href="#">C </a>
		<a href="#">PHP </a>
		<a href="#">Python </a>
		<a href="#">Django </a>
		<a href="#">Java </a>
		<a href="#">Android </a>
		<a href="#">All Categories </a>
	</div>
	<a href="#"><img src="{% static 'home/images/contact-ico.png' %}" width="20px"/> Contact</a>
</div>

<div id="main">

	<div class="main-heading">
		<div class="all-activity">All Activity</div>
		<button class="button" onclick="newTopic()">+ New Topic</button>
	</div>
	<div class="searchbox"><input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search for threads.." ></div>
	<div class="thread-list">
		<table id="myTable">
			<tr class="tr tr-head">
				<th class="td-thread-pic th">Thread pic</th>
				<th class="thread-data th">Thread Description</th>
				<th class="replys th">Recent replys</th>
				<th class="thread-thumbs th">Upvotes and Downvotes</th>
			</tr>
			{% if all_threads %}
				{% for thread in all_threads %}
					<tr class="tr" onclick="location.href='/home/{{ thread.id }}/'">
						<td class="td-thread-pic td"><img src="{% static 'home/images/c.png' %}" class="thread-pic" width="64px" /></td>
						<td class="thread-data td">{{ thread.topic_name }}
							<div class="description">
								<div class="propic">	<img src="{% static 'home/images/propic.png' %}" width="30px"/> </div>
								<div class="username">
									{{ thread.date }}<br />
									{{ thread.name }}</div>
							</div>
						</td>
						<td class="replys td">+5</td>
						<td class="thread-thumbs td"><i class="material-icons" style="font-size:24px;color:orange">thumb_up</i>12 <i class="material-icons" style="font-size:24px;color:orange">thumb_down</i>4</td>
					</tr>
				{% endfor %}
			{% endif %}

		</table>
	</div>
</div>

<div id="newtopic1">

	<a href="javascript:void(0)" class="closebtn-newtopic" onclick="closeNewTopic()" style="text-decoration:none; color:black; font-size:30px;" >&times;</a>
	<div id="row1">
		<div class="col1"><img src="{% static 'home/images/propic.png' %}" width="60px"/></div>
		<div class="col2" style="color:black;">{{request.user.first_name}} {{request.user.last_name}}</div>
		<div class="col3" id="date" style="color:black;"></div>
	</div><br /><br /><br />
	<form method="POST" action="/home/new/"> {% csrf_token %}
		<div id="row1" style="color:black;">
			Category:
		<select name="category" style="width:200px;height:40px; font-size:17px; margin-bottom:10px;">
			{% for category in all_categories%}
			<option value="{{category.id}}">{{category.title}}</option>
			{% endfor %}
		</select><br></div><br>
		<textarea id="title" name="topic_name" placeholder="Title"></textarea>

		<button onclick="boldSelection ()" class="notselected button-style" id="bol"><b>B</b></button>
		<button onclick="italicsSelection ()"class="notselected button-style" id="italic"><i>I</i></button>
		<button onclick="underlineSelection ()"class="notselected button-style" id="under"><u>U</u></button><br/>

		<textarea id="myArea" name="Question" placeholder="Description of the thread...."></textarea>

		<button class="button1" onclick="closeNewTopic()">Cancel</button>
		<button type="submit" class="button1" onclick="closeNewTopic()">Post</button>

        </form>

</div>
<script>
var now = new Date();
var days = new Array('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday');
var months = new Array('January','February','March','April','May','June','July','August','September','October','November','December');
var date = ((now.getDate()<10) ? "0" : "")+ now.getDate();
function fourdigits(number) {
return (number < 1000) ? number + 1900 : number;
}
today = days[now.getDay()] + ", " +
months[now.getMonth()] + " " +
date + ", " +
(fourdigits(now.getYear())) ;
document.getElementById("date").innerHTML = today;



</script>
<div id="black-background">

</div>



</body>
</html> 
