{% load staticfiles %}


<html>
<head>
	<meta charset="utf-8" />
<link href="{% static 'home/images/favicon.png' %}" rel="icon" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'home/mobile1.css' %}" type="text/css" rel="stylesheet" media="screen and (max-width: 768px)" />
<link href="{% static 'home/desktop1.css' %}" type="text/css" rel="stylesheet" media="screen and (min-width: 768px)" />
<style>
input[type=text],input[type=password],input[type=number] ,input[type=date],input[type=email]{
    width:98%;
    padding: 12px 20px;
    margin: 6px 3px;
	font-size:18px;
	color:rgb(115, 115, 115);
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
</style>
</head>

<body>

<div class="navbar">
	<ul>
	  <li><h1>nil.co</h1><p class="caption">The ultimate forum for coders</p></li>
	  <li class="right"><a href="/home/login/" class="signup">Log In</a></li>
	</ul>
</div>
<!--<div class="head">
<h1>nil.co</h1>
<p>The ultimate forum for coders</p>
</div>

<div class="linker">
<a class="toplink" href="index.html"><span></span>Log in</a>
</div>-->

<div class="body ">
<h2>Join us today!</h2>
<form method="POST" action="/home/signup/"> {% csrf_token %}
	{% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
	<input type="radio" name="gender" value="male" checked> Male
    <input type="radio" name="gender" value="female"> Female<br><br>
	<input type="checkbox" name="personalize" value="yes" >I accept the <a class="sentencelinks" href="#"><b>terms and conditions</b></a> of nil.co</a><br>
	<input type="submit" value="Sign Up"><br>
	<pre><a class="links" href="/home/login/"><b>Have an account? Log in</b></a></pre>
</form>
	</div>

<div class="foot">
created by Nilay Pathak
</div>

</body>

</html>